<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kingdom TV</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Material Design Bootstrap -->
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="css/peliculas.css" rel="stylesheet">
    <link href="css/porcentaje.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="index.html">Kingdom TV</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="peliculas.html">Películas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="series.html">Series</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- movies Grid -->
    <section class="movie-section" id="movies">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Películas</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="msgSearchBar">Encuentre lo que busque en un click</h3>
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-lg" placeholder="Buscar" />
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 class="newRelease"></h3>


            <div class="col-lg-14">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">

                    <img class="card-img-left flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]"
                        style="width: 337; height: 500px;" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
                        data-holder-rendered="true">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">Ciencia Ficción</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Blade Runner 2049</a>
                        </h3>
                        <div class="mb-1 text-muted">4 de octubre, 2017</div>
                        <p class="card-text mb-auto">Han pasado 30 años desde los acontecimientos ocurridos en Blade Runner (1982). El oficial K (Ryan
                            Gosling), un blade runner caza-replicantes del Departamento de Policía de Los Ángeles, descubre
                            un secreto que ha estado enterrado durante mucho tiempo y que tiene el potencial de llevar a
                            la sociedad al caos. Su investigación le conducirá a la búsqueda del legendario Rick Deckard
                            (Harrison Ford), un antiguo blade runner en paradero desconocido, que lleva desaparecido 30 años.</p>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="progress blue">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">90%</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>



            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h6 class="border-bottom border-gray pb-2 mb-0">Comentarios</h6>
                <div class="reviews">
                    <div class="media mb-1">
                        <a class="media-left waves-light">
                            <img class="rounded-circle" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Yo</h4>
                            <ul class="rating inline-ul">
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>

                            <div class="md-form">
                                <input type="text" id="form1" class="form-control">
                                <label for="form1" class="">Comentario sobre la pelicula</label>
                            </div>

                            <div class="row justify-content-end">
                                <button type="button" class="btn btn-primary btn-sm">Comentar</button>
                            </div>
                        </div>
                    </div>
                    <div class="media mb-1">
                        <a class="media-left waves-light">
                            <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-13.jpg" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">John Doe</h4>
                            <ul class="rating inline-ul">
                                <li>
                                    <i class="fa fa-star amber-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star amber-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star amber-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <p>La pelicula es pesima xDDDDDDDDDDDDDDDDDdd</p>
                            <div class="row justify-content-end">
                                <button type="button" class="btn btn-red btn-sm">Reportar</button>
                            </div>
                        </div>
                    </div>

                    <!--Second review-->
                    <div class="media mb-1">
                        <a class="media-left waves-light">
                            <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-10.jpg" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Anna Casie</h4>
                            <ul class="rating inline-ul">
                                <li>
                                    <i class="fa fa-star amber-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star amber-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star amber-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star amber-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star amber-text"></i>
                                </li>
                            </ul>
                            <p>Mala, no hay mas que decir</p>
                            <div class="row justify-content-end">
                                <button type="button" class="btn btn-red btn-sm">Reportar</button>
                            </div>
                        </div>
                    </div>

                    <!--Second review-->
                    <div class="media mb-1">
                        <a class="media-left waves-light">
                            <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-7.jpg" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Dave Snow</h4>
                            <ul class="rating inline-ul">
                                <li>
                                    <i class="fa fa-star amber-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star amber-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star amber-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star amber-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <p>A mi me gusto el final, cuando dice FIN, asi me pude ir a casa para cenar.</p>
                            <div class="row justify-content-end">
                                <button type="button" class="btn btn-red btn-sm">Reportar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



    </section>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Kingdom TV 2018</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-google"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a href="about.html">Sobre nosotros</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Política de privacidad</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Términos de uso</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>
    <script src="js/peliculas.js"></script>
</body>

</html>