<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Profile -  </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/profile.css" rel="stylesheet">

    <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
    <div id="preloader"></div>

    <!--==========================
    Header
  ============================-->
    <header id="header" class="header-scrolled">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <!-- <h1><a href="#intro" class="scrollto">KingdomTV</a></h1>-->
                <!-- Uncomment below if you prefer to use an image logo -->
                <a href="index.html">
                    <img src="img/logo/logo.png" alt="" title="" />
                </a>
            </div>

            <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/">Inicio</a></li>
          <li><a href="/movies">Peliculas</a></li>
          <li><a href="/series">Series</a></li>
          <li><a href="/contact">Contacto</a></li>
          <li class="menu-has-children"><a href="/login">{{profileName}}</a>
            <ul>
              <li><a href="/profile">Perfil</a></li>
              <li><a href="/logout">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

    <main id="main">

        <!--==========================
      Profile Section
    ============================-->
        <section id="about">

            <div class="container">
                <div class="card text-center">
                    <div class="card-header secondary-color white-text">
                         
                    </div>
                    <h2></h2>
                    <div class="card-body">
                        <div class="row justify-content-md-center">
                            <h5>Presentacion del perfil de la persona</h5>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header green lighten-1 white-text">Featured</div>
                                    <div class="card-body">
                                        <h4 class="card-title"></h4>
                                        <div class="row">
                                            <div class="col text-center">
                                                <img src="{{image}}" class="img-fluid z-depth-1 rounded-circle" alt="Responsive image"
                                                    width="128px" heigth="128px">
                                            </div>
                                        </div>
                                        <form method="POST" enctype="multipart/form-data" action="/upload">
											<table>
												<tr><td>Cambiar imagen</td><td><input type="file" name="file" /></td></tr>
                                                <tr><td></td><td><input type="submit" value="Subir" /></td></tr>
                                                <input type="hidden" name="_csrf" value="{{token}}"/>
											</table>
										</form>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-header blue lighten-1 white-text">Gustos</div>
                                    <div class="card-body">
                                        <h4 class="card-title">Peliculas</h4>

                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Cras justo odio
                                                <span class="badge badge-primary badge-pill">14</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Dapibus ac facilisis in
                                                <span class="badge badge-primary badge-pill">2</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Morbi leo risus
                                                <span class="badge badge-primary badge-pill">1</span>
                                            </li>
                                        </ul>
                                        <p></p>
                                        <a class="btn btn-blue" id="btnChangeFilms">Elegir géneros</a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Series</h4>

                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Cras justo odio
                                                <span class="badge badge-primary badge-pill">14</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Dapibus ac facilisis in
                                                <span class="badge badge-primary badge-pill">2</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Morbi leo risus
                                                <span class="badge badge-primary badge-pill">1</span>
                                            </li>
                                        </ul>
                                        <p></p>
                                        <a class="btn btn-blue">Elegir géneros</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-header red lighten-1 white-text">Opciones</div>
                                    <div class="card-body">
                                        <h4 class="card-title">Cuenta</h4>
                                            <form method="POST" action="/changePassword">
                                                <input type="password" name="password" placeholder="Contraseña nueva"/>
                                                <input type="submit" value="Cambiar"/>
                                                <input type="hidden" name="_csrf" value="{{token}}"/>
                                            </form>
                                        <p></p>
	                                        <form action="/delete" method="post"
	                                         onSubmit="return confirm('¿Estás seguro de que quieres borrar tu cuenta? No podrás recuperarla');">
	                                        	<input class="btn btn-red" type="submit" value="ELIMINAR">
	                                        	<input type="hidden" name="_csrf" value="{{token}}"/>
	                                       	</form>
                                    </div>
                                    <br>
                                    <div class="card-body">
                                        <h4 class="card-title">Cambiar Nombre</h4>
                                        <form method="POST" action="/changeName">
                                                <input type="text" name="newName" placeholder="{{profileName}}"/>
                                                <input type="submit" value="Cambiar"/>
                                                <input type="hidden" name="_csrf" value="{{token}}"/>
                                            </form>
                                     </div>
                                     <br>
                                     <div class="card-body">
                                        <h4 class="card-title">Cambiar nombre de usuario</h4>
                                        <form method="POST" action="/changeNickname">
                                                <input type="text" name="newNickname" placeholder="{{nickname}}"/>
                                                <input type="submit" value="Cambiar"/>
                                                <input type="hidden" name="_csrf" value="{{token}}"/>
                                            </form>
                                     </div>
                                     
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 footer-info">
                        <h3>KingdomTV</h3>
                        <p>KingdomTV es una aplicación web que nace en la asignatura de DAW de la URJC, como método de aprendizaje
                            y ante la curiosidad de los alumnos de realizar una aplicación de seguimiento de peliculas y
                            series.
                        </p>
                    </div>


                    <div class="col-lg-4 col-md-6 footer-contact">
                        <h4>Información de contacto</h4>
                        <p>
                            Calle Tulipán, s/n,
                            <br> 28933 Móstoles, Madrid
                            <br> España
                            <br>
                            <strong>Telefono:</strong> +34 916 65 50 60
                            <br>
                            <strong>Email:</strong> info@kindomtv.com
                            <br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#" class="google-plus">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Nuestro equipo de
                            <br>desarrolladores</h4>
                        <p>
                            Jesús Ávila - @SrJesusAM
                            <br> Miguel Torrijos - @MiguelTG35
                            <br> Lei Han - @LeiHan1
                            <br> Sergio Sanchéz - @SergioSV96
                        </p>
                        <form action="" method="post">
                            <input type="email" name="email">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright
                <strong>KingdomTV</strong>. All Rights Reserved
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top">
        <i class="fa fa-chevron-up"></i>
    </a>

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>

    <script src="js/main.js"></script>
    <script src="js/profilejs"></script>
</body>

</html>